<div id="mainContainer">
  <div>
    <h1>Thai Vowel Checker</h1>
  </div>
  <div id="formContainer">
    <div id="inputContainer">
      <label for="inputText" class="formLabel">Input</label>
      <br>
      <textarea id="inputText" [(ngModel)]="inputText" rows="15"></textarea>
    </div>
    <div id="outputContainer">
      <label class="formLabel">Output</label>
      <div id="outputText">
        <div *ngFor="let line of outputLine">
          <span *ngFor="let item of line" [class.error]="item.type === 'ERROR'">{{item.text}}</span>
        </div>
      </div>
    </div>
  </div>
  <button type="button" (click)="cleanText()">Clean & Show error</button>
  <button type="button" (click)="showError()">Show error</button>
  <button type="button" (click)="clear()">Clear</button>
</div>
<span class="credit">Created by <a href="https://www.linkedin.com/in/binarykung/" target="_blank">BinaryKung</a></span>
