#mainContainer {
  padding: 5px 10px;
}

#formContainer {
  display: flex;
  width: 100%;
}

#inputContainer {
  width: 50%;
  padding: 5px 10px 10px 0;
}

#outputContainer {
  width: 50%;
  padding: 5px 0 10px 10px;
}

.formLabel {
  font-weight: bold;
}

#inputText {
  width: 100%;
  margin-top: 10px;
}

#outputText {
  margin-top: 10px;
  font-family: monospace;
}

.error {
  color: red;
  font-weight: bold;
}
.error:hover {
  background: #CCC;
  cursor: pointer;
}

.credit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #555;
  font-family: monospace;
}
